a {
  color: #58bff6;
  text-decoration: none;
}
a:hover {
  color: #aaaaaa;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear-fix {
  clear: both;
}
.logo-active {
  fill: #44aacc !important;
}
#formWrapper {
  /*background: rgba(0,0,0,.2);*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease;
}
.darken-bg {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: all .3s ease;
}
div#form {
  position: absolute;
  width: 360px;
  height: 320px;
  height: auto;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  padding: 10px 20px;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -200px;
}
div.form-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
input {
  transition: all .2s ease;
}
input.form-style {
  color: #8a8a8a;
  display: block;
  width: 90%;
  height: 44px;
  padding: 5px 5%;
  border: 1px solid #cccccc;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
  font-family: 'HelveticaNeue', 'Arial', sans-serif;
  font-size: 105%;
  letter-spacing: .8px;
}
div.form-item .form-style:focus {
  outline: none;
  border: 1px solid #58bff6;
  color: #58bff6;
}
div.form-item p.formLabel {
  position: absolute;
  left: 26px;
  top: 16px;
  transition: all .4s ease;
  color: #bbbbbb;
}
.formTop {
  top: -22px !important;
  left: 26px;
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color: #58bff6 !important;
}
.formStatus {
  color: #8a8a8a !important;
}
input[type="submit"].login {
  float: right;
  width: 112px;
  height: 50px!important;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 29px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #186ea2;
  border: 1px solid #186ea2;
  border: none;
  color: white;
  font-weight: bold;
}
input[type="submit"].login:hover {
  background-color: white;
  border: 1px solid #55b1df;
  color: #55b1df;
  cursor: pointer;
}
input[type="submit"].login:focus {
  outline: none;
}
#team {
  padding: 6rem 0 !important;
}
#contact {
  padding-top: 4 !important;
}
#comprass {
  padding: 0 !important;
}
.questions #comprass,
.conditions #comprass {
  padding-top: 6rem !important;
}
.text-over-video {
  bottom: 4rem !important;
}
.header-text {
  padding-bottom: 0 !important;
}
.header-text h1 {
  position: relative !important;
  padding-bottom: 30px !important;
}
.header-text p {
  padding-top: 0 !important;
  padding-bottom: 20px !important;
}
.columns label,
.columns .txtTituloJ {
  color: white !important;
}
.contact-wrap span,
.contact-wrap label,
.contact-wrap small {
  color: white !important;
  display: inline-block !important;
}
.sixteen .header-text p,
.sixteen .header-text h1 {
  color: black !important;
}
.sixteen .header-text h1 {
  font-weight: bold !important;
}
.sixteen .header-text p {
  font-size: 1.3rem !important;
}
#contact iframe {
  position: relative;
  height: auto !important;
  min-height: 160vh !important;
}
#contact .sixteen .header-text p,
#contact .sixteen .header-text h1 {
  color: white !important;
}
#contact .sixteen .header-text h1 {
  font-weight: bold !important;
}
#contact .sixteen .header-text p {
  font-size: 1.3rem !important;
}
.eight .header-text p,
.eight .header-text h1 {
  color: white !important;
}
.eight .header-text h1 {
  font-weight: bold !important;
}
.eight .header-text p {
  font-size: 1.3rem;
}
.guias {
  right: .5vw !important;
  width: auto !important;
  padding: .5rem !important;
  position: fixed !important;
  background-color: #186ea2 !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
.guias button {
  margin: 0px !important;
  width: 57px !important;
  padding: 0px !important;
  position: relative !important;
  display: inline-block !important;
}
.guias button img {
  width: 20px !important;
}
.cbp-af-header.cbp-af-header-shrink .logo {
  background: url('../images/logozai.png') no-repeat left center !important;
  background-size: 300px !important;
}
#menuone {
  width: 92vw !important;
}
.guiasdos {
  width: 85px !important;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .content_logo {
    float: left !important;
    width: 290px !important;
    height: auto !important;
    overflow: hidden !important;
    min-height: 55px !important;
    position: relative !important;
    display: inline-block !important;
  }
  .menu-collapser {
    width: 100% !important;
    float: right !important;
    height: 48px !important;
    padding: 0 8px !important;
    font-size: 16px !important;
    line-height: 48px !important;
    position: relative !important;
  }
  .logo,
  .cbp-af-header.cbp-af-header-shrink .logo {
    left: 0 !important;
    top: 10px !important;
    width: 100% !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background-size: 250px !important;
  }
  .guias,
  .guiasdos {
    position: relative !important;
  }
  .guias {
    padding: 1rem !important;
    padding-top: 0 !important;
    display: block !important;
    text-align: center !important;
  }
  .guias span {
    color: white !important;
    display: block !important;
    position: relative !important;
    padding-bottom: 1rem !important;
  }
  .guiasdos {
    width: 100% !important;
  }
  .guiasdos button {
    padding: 1rem !important;
  }
  .row_reverse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-flow: column-reverse !important;
  }
}
.form-rastreo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.text-over-video,
.video-section-2 {
  display: none !important;
}
.video-section-1 {
  min-height: 450px;
  width: 100% !important;
  height: auto !important;
}
.video-section-1 .just_pattern {
  background-image: none !important;
}
section.d_flex {
  display: grid;
  grid-gap: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  grid-template-columns: repeat(3, 1fr);
  /* display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-flow: column !important;
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-flow: column !important;
	flex-flow: column !important; */

}
section.d_flex h1,
section.d_flex h2 {
  color: white;
  /* color: #186ea2; */

}
section.d_flex h1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
  text-transform: capitalize;
}
section.d_flex h2 {
  text-align: left !important;
  font-size: 1rem !important;
}
section.d_flex hr {
  width: 40% !important;
  left: -0.5rem !important;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
  border: 2px solid white !important;
}
section.d_flex article {
  padding: 1rem 0;
  font-size: 30px;
  text-align: center;
}
section.d_flex article figure {
  width: 19vw;
  border-radius: 50%;
  background-color: white;
  height: 100% !important;
  margin: 0 auto !important;
  min-height: 100% !important;
}
section.d_flex article figure img {
  width: 15vw !important;
  top: 2rem !important;
  position: relative !important;
}
section.d_flex article.item:nth-child(2):after,
section.d_flex article.item:nth-child(3):after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  background-position: top left !important;
  background-size: 100% !important;
  background-repeat: no-repeat;
  position: relative;
  right: -1vw;
  float: right;
  height: 100%;
  top: -15vw;
  width: 4vw;
}
@media only screen and (max-width: 949px) and (min-width: 320px) {
  section.d_flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-flow: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-flow: column !important;
    padding-bottom: 5rem !important;
  }
  section.d_flex h2 {
    font-size: .9rem !important;
  }
  section.d_flex article {
    margin-bottom: 3rem !important;
  }
  section.d_flex article figure {
    width: 60% !important;
    min-height: 110% !important;
    max-width: 110% !important;
  }
  section.d_flex article figure img {
    width: 75% !important;
    height: auto !important;
    max-width: 100% !important;
  }
  section.d_flex article.item:nth-child(2):after,
  section.d_flex article.item:nth-child(3):after {
    display: none !important;
  }
}
